// *************************** FONTS ******************************
@font-face {
  font-family: "Allura-Regular";
  src: url(./assets/fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(./assets/fonts/Roboto-Light.ttf);
}

// *************************** VARIABLES ******************************

//Couleur

$white: #eeeeee;
$grey1: #babbb7;
$grey2: #b6b6b6;
$grey3: #a9a69e;
$grey4: #757575;
$grey5: #595956;
$black1: #21201e;
$black2: #000000;
$brown1: #a67245;
$brown2: #352c24;

//Fonts

$font1: Allura-Regular, cursive;
$font2: Poppins-Medium, serif;
$font3: Roboto-Light, serif;

// *************************** MIXINS ******************************

@mixin childCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignChildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space;
}

//*******************************************************************
// Permet un défilement plus doux
html {
  scroll-behavior: smooth;
}

//********************************BODY********************************

body {
  text-align: center;
  background: $black1;
}

//********************************Parametres generaux********************************

* {
  // font-family: "Merriweather-Light";
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  margin-block: 0;
  outline: none;
  text-decoration: none;
}

.icon {
  height: 50px;
  border-radius: 100px;
}

//******************Titres*********************

h1 {
  font-family: "Poppins-Medium";
  text-transform: uppercase;
  color: $white;
  letter-spacing: 4px;
  font-size: 2rem;
}

h2 {
  font-family: "Allura-Regular";
  text-transform: capitalize;
  color: $brown1;
  font-size: 2.1rem;
  font-weight: 400;
}

h3 {
  font-family: "Allura-Regular";
  text-transform: capitalize;
  font-weight: 400;
}

h4 {
  font-family: "Poppins-Medium";
  text-transform: capitalize;
}

h6 {
  font-family: "Roboto-Light";
  text-transform: capitalize;
}

p {
  font-family: "Roboto-Light";
  font-size: 0.8rem;

  //   color: $brown1;
  //   font-size: 2.1rem;
}

button {
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  color: $brown1;
}
